VITE_SUPABASE_URL=https://wiuuzsiiaagqldtxfouj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndpdXV6c2lpYWFncWxkdHhmb3VqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE3MjI1NDcsImV4cCI6MjA5NzI5ODU0N30.hPNrXFz9GIBDMAKMZ3Ao22cVsFoyQO1Ne7eYvHhEF7U
